#login_box {
	position:absolute;
	top: 50%;
	left: 50%;
	width:26em;
	height:16em;
	margin-top: -8em;
	margin-left: -13em;
	border: 1px solid #648E46;
	background-color: #F3F3F3;
}
h1 {
	background-color:#B6D56E;
	border-bottom:1px solid #648E46;
	font-size:120%;
	font-weight:bolder;
	color:#648E46;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
}
#login_form{
	padding:10px;
}
#login_form p label{
	display:block;
	float:left;
	width:80px;
}
#login_form p{
	margin-bottom:10px;
}
#login_form p#message{
    margin-left: 60px;
}
#submit{
	padding:0 4px;
	margin-left:80px;
}
#login_box .field_error, #login_box #message{
	font-size:12px;
	color:#FF0000;
}
#login_box #form_error_message{
	margin-bottom:20px;
}
#login_box .field_error{
	clear:both;
	margin-left:80px;
}
.form_field{
	border: 1px solid #648E46;
}
.form_field:focus{
	background-color:#B6D56E;
}