#jos {
    color:red;
}

.row {
    min-height: 30px;
    margin    : 5px 0;
    float     : left;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,
.col-8,.col-9,.col-10,.col-11,.col-12 {
    float  : inherit;
    height : inherit;
    padding: 0 10px;
}
.col-1  { width: 60px; height: inherit; min-height: inherit; }
.col-2  { width: 140px; height: inherit; min-height: inherit; }
.col-3  { width: 220px; height: inherit; min-height: inherit; }
.col-4  { width: 300px; height: inherit; min-height: inherit; }
.col-5  { width: 380px; height: inherit; min-height: inherit; }
.col-6  { width: 460px; height: inherit; min-height: inherit; }
.col-7  { width: 540px; height: inherit; min-height: inherit; }
.col-8  { width: 620px; height: inherit; min-height: inherit; }
.col-9  { width: 700px; height: inherit; min-height: inherit; }
.col-10 { width: 780px; height: inherit; min-height: inherit; }
.col-11 { width: 860px; height: inherit; min-height: inherit; }
.col-12 { width: 940px; height: inherit; min-height: inherit; }
.no-padding {
    padding: 0;
}
#main-wrapper {
    background: url(images/background.png) repeat-y;
    margin    : 0 auto;
    min-height: 100%;
    width     : 960px;
}
#sidebar-content-wrapper {
    overflow      : auto;
    padding-bottom: 40px;
}
#sidebar {
    float: left;
    padding: 10px 0;
    width: 160px;
}
#content {
    float  : right;
    padding: 10px 0;
    width  : 800px;
}
#footer-wrapper {
    margin: 0 auto;
    width: 960px;
}
#footer {
    background-color: #B6D56E;
    border-left: 1px solid #648E46;
    border-right: 1px solid #648E46;
    border-top: 1px solid #648E46;
    clear: both;
    height: 34px;
    margin-top: -40px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 958px;
}
#header {
    background: url(images/header.png);
    width: 960px;
    height: 100px;
    position: relative;
    border-bottom: 5px solid #648E46;
}
#header a {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 100px;
}
#header a h1 {
    display: none;
}
h2 {
    border-bottom: 1px solid #648E46;
    font-size: 24px;
    margin-bottom: 10px;
}
h3 {
    background-color: #B6D56E;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.sidebar-box {
    margin-bottom: 10px;
    background-color: #E9ECD7;
    color: #658E40;
}
.sidebar-box p {
    padding: 5px 10px;
}
.sidebar-box ul li {
    border-bottom: 1px solid #ffffff;
}
.sidebar-box ul li a {
    display: block;
    padding: 5px 10px;
    width: 120px;
    max-width: 120px;
    background-image: url(images/menu.png);
    background-repeat: repeat-y;
    background-position: center left;
}
body#home               #menu-home  a,
body#draft-author       #menu-draft-author a,
body#draft-reviewer     #menu-draft-author a,
body#draft              #menu-draft a,
body#author             #menu-author  a,
body#reviewer           #menu-reviewer  a,
body#worksheet          #menu-worksheet  a,
body#theme              #menu-theme  a,
body#code               #menu-code a,
body#book               #menu-book a,
body#responsibility     #menu-responsibility a,
body#user               #menu-user a,
body#faculty            #menu-faculty a,
body#work-unit          #menu-work-unit a,
body#institute          #menu-institute  a{
    background-image: url(images/menu_active.png);
    background-repeat: repeat-y;
    background-position: center left;
}
.sidebar-box a:link { color: #4e6f37; text-decoration: none;}
.sidebar-box a:visited { color: #4e6f37; }
.sidebar-box a:hover {
    background-color: #B6D56E;
    background-image: url(images/menu_active.png);
    background-repeat: repeat-y;
    background-position: center left;
}
.sidebar-box a:focus {
    background-color: #B6D56E;
    background-image: url(images/menu_active.png);
    background-repeat: repeat-y;
    background-position: center left;
}
.sidebar a:active {
    color: #4e6f37;
}
table {
    margin-bottom: 10px;
    clear: both;
    width: 100%;
}
 th,  td {
    text-align:left;
    padding:5px 10px;
}
 thead {
    border-top: 1px solid #648E46;
    border-bottom: 2px solid #648E46;
    background-color: #B6D56E;
}
 tbody tr {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.awn-table tbody tr:hover {
    background-color: #D4D8AD;
}
 th {
    font-weight: bold;
    text-transform:uppercase;
}
.zebra {
    background-color:#E9ECD7;
}
 tfoot {
    background-color: #B6D56E;
    border-top: 2px solid #648E46;
    border-bottom: 1px solid #648E46;
    font-weight: bold;
}
#pagination a, #pagination strong {
    float: left;
    margin: 0 2px;
    color: #000000;
}
#pagination a {
    text-decoration:none;
    border:1px solid #648E46;
    background-color:#B6D56E;
    padding:4px 8px;
}
#pagination a:hover {
    background-color:#648E46;
    border:1px solid #648E46;
}
#pagination strong {
    padding:4px 8px;
    border:1px solid #648E46;
    background-color:#648E46;
}
.label {
    font-weight: bold;
}
input, select {
    border: 1px solid #648E46;
    width: inherit;
}
input[type=text], input[type=password] {
    height: 26px;
    padding: 0 4px;
}
input[type=file] {
    height: 26px;
    padding: 0 4px;
}
select {
    height: 28px;
    padding: 0 4px;
    width: calc( 100% + 10px );
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    width: calc( 100% + 10px );
    border: 1px solid #648E46;
    padding: 4px;
    font-family: inherit;
    font-size: inherit;
}
input:focus, select:focus {
    background-color: #B6D56E;
}
.form-group {
    padding-bottom: 10px;
}
.block-label {
    display: block;
    margin-bottom: 6px;
}
textarea {
    resize: none;
}
button {
    height: 28px;
    padding: 0 4px;
    position: relative;
    cursor: pointer;
}
a.btn {
    display: inline-block;
    position: relative;
    top: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    padding: 4px 6px;
    line-height: 150%;
}
.btn-default { background-color: #EBEBEB; border: 1px solid #CECCCC; }
.btn-warning { background-color: #F0AD4E; border: 1px solid #F0AD4E; }
.btn-danger  { background-color: #D9534F; border: 1px solid #D9534F; }
.btn-info    { background-color: #5BC0DE; border: 1px solid #5BC0DE; }
.btn-success { background-color: #5CB85C; border: 1px solid #5CB85C; }
.btn-primary { background-color: #428BCA; border: 1px solid #428BCA; }
a.btn-default:hover, button.btn-default:hover {
    background-color: #CCC7C7;
    border: 1px solid #AAA9A9;
}
a.btn-warning:hover, button.btn-warning:hover {
    background-color: #DF8505;
    border: 1px solid #BC7107;
}
a.btn-primary:hover, button.btn-primary:hover {
    background-color: #3276B1;
    border: 1px solid #2B6696;
}
a.btn-danger:hover, button.btn-danger:hover {
    background-color: #AA302A;
    border: 1px solid #84231F;
}
a.btn-success:hover, button.btn-success:hover {
    background-color: #499249;
    border: 1px solid #397A39;
}
a.btn-info:hover, button.btn-info:hover {
    background-color: #0088CC;
    border: 1px solid #0674AA;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.form-error {
    display: inline-block;
    padding: 6px 10px 4px 25px;
    color: #A94442;
    background-image: url(images/icon_error.png);
    background-position: 5px 7px;
    background-repeat: no-repeat;
    background-color: #F2DEDE;
}
.message-box {
    font-weight: bold;
    padding: 10px 25px;
}
.message-success {
    color: #3C763D;
    border: 1px solid #3C763D;
    background:#DFF0D8 url(images/icon_success.png) center left 5px no-repeat;
}
.message-warning {
    color: #DF8505;
    border: 1px solid #DF8505;
    background: #FCF8E3 url(images/icon_warning.png) center left 5px no-repeat;
}
.message-error {
    color: #A94442;
    border: 1px solid #A94442;
    background:#F2DEDE url(images/icon_error.png) center left 5px no-repeat;
}
.judul dt,
.judul dd {
    display: block;
    float: left;
    margin-top: 10px;
}
.judul dt {
    width: 100px;
    clear: both;
    font-weight: bold;
}
.judul dd {
    width: 400px;
}
.hr-row {
    border: 0;
    border-bottom: 1px dotted #aaaaaa;
    width: auto;
    margin: 10px;
}
.cover {
    padding-top: 10px;
}
.cover img {
    border: 1px solid #aaaaaa;
    padding: 2px;
}
.config dt,
.config dd {
    display: block;
    float: left;
    margin-top: 10px;
}
.config dt {
    width: 150px;
    clear: both;
    font-weight: bold;
}
.config dd {
    width: 400px;
}
ul.live-search-list {
    width: 308px;
    border: 1px solid #648E46;
    position: absolute;
    z-index: 9;
    background-color: #B6D56E;
    list-style: none;
}
ul.live-search-list li {
    padding: 2px;
}
ul.live-search-list li:hover {
    background: #eaeaea;
}
.live-search-list {
    display: none;
}
.dipinjam {
    color: #ff0000;
}