/* put your own styles to customize and override the theme */
.nowrap th, .nowrap td {
	white-space: nowrap;
}
/*.lebar-fix {
    width: 500px;
    min-width: 500px;
}*/

.breadcrumb {
    background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid rgba(19, 29, 40, 0.125);
}

.btn-disabled{
    cursor : not-allowed;
}